body{
    background-image: url("../assets/images/fondo-lyft.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 700px;
}
